.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.instrucoes {
    text-align: justify;
}

h1 {
    margin-top: 0px;
    margin-bottom: 15px;
    color: navy;
}

button {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: darkorange;

}

input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}